.App-page-stl {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	color: white;
	background-color: #0a0a0a;
}
.file-main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.header-name {
	background-color: white;
	color: #0a0a0a;
	border-radius: 8px;
}
.nav-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: gray;
	border-radius: 6px;
}
.nav-content-item {
	display: flex;
	align-items: center;
	justify-content: center;
}
.file {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(223, 213, 213);
	border-color: gray;
	border-style: solid;
	border-radius: 6px;
}
.file:hover {
	background-color: gray;
	border-radius: 12px;
}
.file-enter-text {
	cursor: pointer;
}
.btn-content {
	display: flex;
	align-items: center;
	flex: 1;
}
.btn-down {
	border-color: gray;
	border-style: solid;
	border-radius: 6px;
}
.btn-down:hover {
	border-radius: 10px;
	background-color: gray;
	color: white;
	box-shadow: 1px 1px 3px 3px rgba(rgb(240, 14, 25));
}
.download-file {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
}
.card-main {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	padding: 10px;
	color: #000;
}
.main-grid {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto;
	/* grid-template-areas: myarea; */
}
.pre {
	display: flex;
	width: 400px;
	height: 160px;
	background-color: gray;
}
.copy-feedback {
	display: block;
	margin-left: 1rem;
	visibility: hidden;
}

.copy-feedback.active {
	visibility: visible;
}
.copy-download {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-items: center;
}
.btn-down-copy {
	display: flex;
	align-items: center;
	justify-content: center;
	border-color: gray;
	border-style: solid;
	border-radius: 6px;
}
.btn-down-copy:hover {
	border-radius: 10px;
	background-color: gray;
	color: white;
}
.a-tag {
	text-decoration: none;
}
.card-header:hover {
	background-color: blue;
}
.main-output {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* margin-left: 30px; */
}
.output {
	padding-top: 5px;
	padding-left: 4px;
	padding-right: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
