
.App-page-stl {
	background-color:gray;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.nav-main {
	/* background-color: #252627; */
	/* text-align: center; */
}
.header-name {
	color: black;
	background-color: rgb(175, 165, 165);
}
.nav-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.nav-content-item {
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */
